@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #5cdb95;
    color:#17518c;
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 400;
}

.wrapper{
    width: 1280px;
    margin: 50px auto;
}

header{
    position: relative;
}

header .logo{
    font-weight: 600;
    font-size: 20px;
}

header ul.nav{
    float:right;
    list-style: none; 
}

header ul.nav li{
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms ease;
}

header ul.nav li:hover{
    opacity: 0.5;
}

header .shop-cart-button{
    float: right;
    cursor: pointer;
    transition: color, transform 500ms ease;

}

header .shop-cart-button:hover,
header .shop-cart-button.active{
    color:rgb(40, 151, 151);
}

header .shop-cart{
    position: absolute;
    top:30px;
    right: 0;
    width: 450px;
    background: #05386b;
    -webkit-box-shadow: 11px 11px 11px 1px rgba(34, 60, 80, 0.82);
    -moz-box-shadow: 11px 11px 11px 1px rgba(34, 60, 80, 0.82);
    box-shadow: 11px 11px 11px 1px rgba(34, 60, 80, 0.82);
    z-index: 1000;
    padding: 20px;
    padding-bottom: 0;
}

header .shop-cart .empty h2{
    font-size: 20px;
    margin-bottom: 20px;
    color: aqua;
}

header .shop-cart .item{
    width: 100%;
    float: left;
    margin-bottom:20px;
}

header .shop-cart .item img{
    width: 70px;
    float: left;
    margin-right: 20px;
}

header .shop-cart .item h2{
    font-size: 20px;
    margin-bottom:10px;
}

header .shop-cart .item b{
    color: aqua;
    font-weight: 600;
}

header .shop-cart .item .delete-icon{
    color: aqua;
    float:right;
    position: relative;
    top: -25px;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

header .shop-cart .item .delete-icon:hover{
    color: rgb(0, 255, 162);
    transform: scale(1.5);
}

header .shop-cart .summa{
    float:left;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    color: aqua;
}

header .presentation{
    margin: 50px 0;
    background: url('./img/phoneSell.jpg') no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #bcbcbc;
    position: relative;
}

header .presentation::after{
    content: 'Надежный поставщик телефонов в России';
    position: absolute;
    top: 100px;
    left:50px;
    width: 300px;
    font-size: 40px;
    font-weight: 600;
    color: aqua;
}

header .presentation::before{
    content: 'по низким ценам';
    position: absolute;
    top: 290px;
    left:50px;
    width: 300px;
    font-size: 20px;
    font-weight: 600;
    color: aqua;
}

main{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .item{
    width: 30%;
    margin-bottom: 50px;
    background: #8ee4af;
    border-radius: 10px;
    overflow:hidden;
    position: relative;
}

main .item img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform 500ms ease;
}

main .item img:hover{
    transform: scale(1.05);
}

main h2,
main p,
main b{
    margin: 10px 20px;
    color:rgb(14, 148, 148);
    padding-bottom: 25px ;
}

main b{
    color: rgb(202, 12, 12);
}

main .add-to-cart{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #05386b;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: aqua;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: transform 500ms ease;
}

main .add-to-cart:hover{
    transform: scale(1.05) translateY(-5px);
}

footer{
    text-align: center;
    margin-top: 10px;
}